.site-header {
	border-bottom: 2px solid var(--color-base);
}

.logo {
	font-weight: bold;
}

.logo a {
	text-decoration: none;
}

.main-navigation > ol {
	list-style: none;
	padding-left: 0;
	display: flex;
	gap: 1rem;
}

.main-navigation .active {
	background-color: var(--color-base);

	font-weight: bold;

	& a {
		color: #fff;
	}
}
