html,
body,
.container {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.container > footer {
	position: sticky;
	top: 100vh;
}

.container {
}

.flow > * + * {
	margin-top: 1rem;
}

.wrap {
	padding: 1rem;
}

/* forms */

form > * + * {
	margin-top: 1rem;
}

label {
	display: flex;
}
