@import './components/WorkingEntriesList.css';
@import './components/Calendar.css';
@import './components/SiteHeader.css';
@import './components/SiteFooter.css';

/* Variables */

:root {
	--color-base: rebeccapurple;
}

html,
body,
.container {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.container > footer {
	position: sticky;
	top: 100vh;
}

.container {
}

.wrap {
	padding: 1rem;
}

a {
	color: var(--color-base);
}

/* forms */

form > * + * {
	margin-top: 1rem;
}

label {
	display: flex;
}

.ui-list {
	list-style: none;
	padding-left: 0;
}

/* Buttons */

.ui-btn {
	border: 2px solid var(--color-base);
	padding: 0.25rem 0.75rem;
	color: var(--color-base);
	font-weight: bold;
	border-radius: 3px;
	text-decoration: none;

	&:hover {
		background-color: var(--color-base);
		color: #fff;
	}
}
