@import './components/working-entries-list.css';
@import './components/Calendar.css';

html,
body,
.container {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.container > footer {
	position: sticky;
	top: 100vh;
}

.container {
}

.flow > * + * {
	margin-top: 1rem;
}

.wrap {
	padding: 1rem;
}

/* forms */

form > * + * {
	margin-top: 1rem;
}

label {
	display: flex;
}

.ui-list {
	list-style: none;
	padding-left: 0;
}

/* Typography */

h1 {
	font-size: 1.5rem;
}
